MODELS/*.pkl
*.DS_Store
settings.conf
webhawk_venv/*
SAMPLE_DATA/*
SAMPLE_DATA/RAW_APACHE_LOGS/*
__pycache__/*

!SAMPLE_DATA/.keep
!SAMPLE_DATA/RAW_APACHE_LOGS/access.log.2021-10-22
!SAMPLE_DATA/RAW_APACHE_LOGS/access.log.2022-12-22

SCANS/*
!SCANS/.keep
